extends ../layouts/common.pug

block content
    h1
        span.mr-2 #{pageName}
        a.btn.btn-primary(href="/users/create") Create new
    form(method='GET', action='/users/search', class="d-flex")
        input(type="text", name="findKey", class="form-control")
        button(class="btn btn-primary ml-2") Search
    table.table
        tr
            th Name
            th Phone
            th Email
            th Password
            th Action

        each user in users
            tr
                td= user.name
                td= user.phone
                td= user.email
                td= user.password
                td(class="d-flex")
                    a.btn.btn-primary(href='/users/' + user.id) View
                    form(method='POST' action='/users/' + user.id)
                        button.btn.btn-danger.ml-2(type="submit") Delete

    nav(aria-label='...')
        ul.pagination
            li.page-item.disabled
            a.page-link(href='/users?page=' + prevPage) Previous
            li.page-item
            a.page-link(href='/users?page=' + prevPage) #{prevPage}
            li.page-item.active(aria-current='page')
            a.page-link(href='/users?page=' + page)
                | #{page}
                span.sr-only (current)
            li.page-item
            a.page-link(href='/users?page=' + nextPage) #{nextPage}
            li.page-item
            a.page-link(href='/users?page=' + nextPage) Next